/* responsive CSS under Max width 599 px */
@media only screen and (min-width: 600px) and (max-width: 768px) {
  /* default CSS */
  .titleDiv {
    width: 80%;
  }
  .titleDiv article h2 {
    width: 100%;
    font-size: 32px;
  }
  .titleDiv article p {
    width: 100%;
    font-size: 16px;
  }
  /* default CSS */

  /* ============================================================================ */
  /* Header section Responsive are CSS Starts here */
  .loginRegisterMainContainer {
    padding: 10px 0 10px 0;
  }
  .loginRegisterMainContainer .container {
    width: 95%;
  }
  .loginRegisterMainContainer .headerBarText {
    display: none;
  }
  .loginRegisterDivison {
    width: 50%;
  }
  .loginRegisterDivison i {
    font-size: 14px;
  }
  .loginRegister a,
  span {
    font-size: 15px;
  }

  .navContainer .container {
    width: 95%;
  }

  .navLeftContent {
    width: 44%;
    height: 60px;
    top: 36px;
  }
  .styelOfnavLeftContent {
    left: 91%;
  }
  .styleOfNavshadow {
    left: -43px;
  }
  .navLeftContent .logo {
    width: 120px;
    top: -20px;
    left: 20%;
  }
  .navLeftContent .logo img {
    width: 100%;
  }
  .navRightContent {
    width: 49%;
    height: 50px;
    position: static;
  }
  .navRightContent nav {
    display: none;
    height: 50px;
  }
  .navRightContent .searchDivision {
    display: block;
    width: 20%;
    float: left;
    margin-top: 5px;
  }
  .searchDivision .search {
    width: 40px;
    height: 40px;
  }
  .searchDivision:hover .search {
    border-radius: 5px;
    border: 1px solid #948bfc;
  }
  .searchDivision .search:hover i {
    font-size: 20px;
  }
  .searchDivision:hover input {
    width: 400px;
    padding: 16px;
    border: 1px solid #948bfc;
    border-radius: 5px;
  }
  .searchField {
    width: 0;
    left: 0;
    top: 18%;
    transform: translate(-50%, -50%);
    z-index: 10;
    margin: 0 auto;
  }

  .navRightContent .getStartedButton {
    width: 60%;
    float: left;
    display: block;
    margin-top: 5px;
  }
  .getStartedButton button {
    padding: 11px;
    width: 87%;
  }

  /* mobile menu starts */
  .mobileMenu {
    display: block;
    width: fit-content;
    text-align: center;
    float: right;
    cursor: pointer;
    padding: 3px 5px 3px 5px;
    border: 2px solid #948bfc;
    border-radius: 4px;
    margin-top: 7px;
  }
  .mobileMenu i {
    font-size: 25px;
    color: #948bfc;
    transition: all 0.3s;
  }
  .mobileMenu:hover i {
    transform: scale(1.1);
  }
  .mobileMenu:hover .fa-bars {
    display: none;
  }

  .mobileMenu .fa-xmark {
    display: none;
  }
  .mobileMenu:hover .fa-xmark {
    display: block;
  }

  .mobileMenuNav {
    position: absolute;
    background-color: #948bfc;
    z-index: 50;
    top: 0;
    left: 0;
    transform-origin: left;
    transform: scaleX(0);
    transition: all 0.1s;
    border-top-right-radius: 12px;
    border-bottom-right-radius: 12px;
    width: 92%;
    border: 2px solid #ffffff;
  }

  .mobileMenu:hover .mobileMenuNav {
    left: 0;
    transform: scaleX(1);
  }
  .mobileMenuNav ul {
    list-style: none;
    padding: 20px;
  }
  .mobileMenuNav ul li {
    margin-bottom: 10px;
    text-align: start;
    width: fit-content;
    transition: all 0.3s;
  }
  .mobileMenuNav ul li:hover {
    transform: translateX(10px);
  }
  .mobileMenuNav ul li:last-child {
    margin-bottom: 0;
  }

  .mobileMenuNav ul li a {
    color: #ffffff;
    font-size: 16px;
    letter-spacing: 1px;
    font-weight: 400;
    transition: all 0.3s;
  }
  .mobileMenuNav ul li:hover a {
    text-decoration: underline;
  }

  /* moreHomeMobileNav */
  .mobileMenuNav ul li .moreHomeMobileNav {
    padding: 0;
    margin-top: 10px;
    margin-left: 15px;
    display: none;
  }
  .mobileMenuNav ul li:first-child:hover .moreHomeMobileNav {
    display: block;
  }
  .mobileMenuNav ul li:hover .moreHomeMobileNav li a {
    text-decoration: unset;
  }

  /* morePagesMobileNav */
  .mobileMenuNav ul li .morePagesMobileNav {
    padding: 0;
    margin-top: 10px;
    margin-left: 15px;
    display: none;
  }
  .mobileMenuNav ul li:nth-child(5):hover .morePagesMobileNav {
    display: block;
  }
  .mobileMenuNav ul li:hover .morePagesMobileNav li a {
    text-decoration: unset;
  }
  /* mobile menu ends */
  /* Header section Responsive ends here */
  /* ============================================================================ */

  /* ============================================================================ */
  /* section One Responsive CSS starts here */
  .sectionOne .container {
    width: 90%;
  }
  .sectionOneContentContainer {
    width: 100%;
  }
  .sectionOneContentContainer article b {
    font-size: 22px;
    width: 100%;
  }
  .sectionOneContentContainer article h1 {
    font-size: 55px;
    width: 100%;
  }
  .sectionOneContentContainer article p {
    font-size: 18px;
    width: 80%;
  }
  .sectionOneContentContainer article p:hover {
    letter-spacing: 3px;
    width: 100%;
  }
  .sectionOneContentContainer .readMoreButton {
    width: 150px;
  }
  .sectionOneContentContainer .readMoreButton button {
    font-size: 16px;
    padding: 15px;
  }
  .sectionOneContentContainer .readMoreButton button::before {
    left: -323%;
    top: -763%;
  }

  .leftShape {
    left: -90%;
    top: -35%;
    transform: rotate(14deg);
  }
  .rightShape {
    right: -692px;
    top: -30%;
    transform: rotate(371deg);
    border-right: 786px solid transparent;
    border-bottom: 1300px solid #948bfc7e;
  }
  .sliderPointer {
    display: none;
  }
  .sidbarContactInfo {
    right: -230px;
    bottom: 62%;
  }

  .sidbarContactInfo i {
    font-size: 14px;
  }
  .sidbarContactInfo a {
    font-size: 14px;
    font-weight: 300;
  }
  .sidbarContactInfo span {
    font-weight: 300;
  }

  .curveOverlay {
    width: fit-content;
    margin-left: -25px;
    margin-bottom: -25px;
  }
  .curveOverlay img {
    width: 560%;
  }
  /* section One Responsive CSS ends */
  /* ============================================================================ */

  /* ============================================================================ */
  /* section Two Responsive CSS are starts */
  .sectionTwo {
    top: 108%;
  }
  .sectionTwo .container {
    width: 90%;
  }
  .sectionTwoBoxContainer {
    width: 80%;
    margin: 0 auto;
  }
  .sectionTwoBox {
    width: 100%;
    margin-right: 0;
    margin-bottom: 30px;
  }
  .sectionTwoBox:hover {
    transform: scaleY(1.01) scaleX(1.01);
  }
  .secitonTwoBoxContent article h2 {
    font-size: 21px;
  }
  .sectionTwoBoxButton button {
    padding: 12px;
    width: 150px;
    font-size: 15px;
  }
  .sectionTwoBoxButton button::before {
    left: -348%;
    top: -838%;
  }
  /* section Two Responsive CSS ends */
  /* ============================================================================ */

  /* ============================================================================ */
  /* section Three Responsive CSS are starts */
  .sectionThree {
    padding: 960px 0 80px 0;
  }
  .sectionThree .container {
    width: 80%;
  }
  .sectionThree .section3LeftContent {
    width: 100%;
    float: unset;
  }

  .sectionThree .section3LeftContentContainer {
    height: 520px;
    transition: all 0.3s;
    margin-bottom: 20px;
  }
  .sectionThree .section3LeftContentContainer:hover {
    transform: translateX(10px);
  }
  .section3LeftContentContainer .one1Image {
    height: fit-content;
    margin-top: 35px;
  }
  .section3LeftContentContainer .one1Image img {
    height: 100%;
  }
  .sectionThree .section3RightContent {
    width: 100%;
    float: unset;
  }
  .section3RightContentContainer h2 {
    font-size: 20px;
  }
  .section3RightContentContainer .sectionThreeP1 {
    width: 80%;
    font-size: 35px;
  }
  .section3RightContentContainer .sectionThreeP2 {
    margin-bottom: 30px;
  }
  .section3RightContentContainer ul {
    margin-bottom: 45px;
  }
  .section3RightContentContainer ul li i {
    font-size: 23px;
    font-weight: 300px;
  }
  .section3RightContentContainer ul li strong {
    font-size: 17px;
    font-weight: 400;
  }
  .knowledgeBox {
    width: 90%;
  }
  .knowledgeBox .knowledgeBoxLeftContent {
    width: 16%;
  }
  .knowledgeBoxRightContent {
    width: 80%;
  }
  .knowledgeBox b {
    width: 90%;
    font-size: 16px;
    font-weight: 500;
  }
  .getButtonAndCallButton {
    width: 100%;
  }
  .getStartedButton2 button {
    width: 60%;
    font-weight: 500;
  }
  .getStartedButton2 button::before {
    left: -443px;
    top: -416px;
  }
  .callButtonDivision .callButton {
    width: 30%;
  }
  .callButtonDetails {
    width: 70%;
  }
  .callButtonDivision .callButton i {
    font-size: 20px;
  }
  .callButtonDivision:hover i {
    font-size: unset;
  }
  .callButtonDivision:hover span {
    font-size: unset;
  }
  .callButtonDivision:hover a {
    font-size: unset;
  }
  .callButtonDetails a {
    width: 100%;
  }

  /* section Three Responsive CSS ends */
  /* ============================================================================ */

  /* ============================================================================ */
  /* section four Responsive CSS are starts */
  .sectionFour {
    padding: 70px 0 200px 0;
  }
  .sectionFour .container {
    width: 80%;
  }
  .sectionFour .serivceBoxContainer {
    width: 85%;
    margin: 0 auto;
  }
  .sectionFour .serivceBoxContainer .serivceBox {
    width: 100%;
    margin-right: 0;
    margin-bottom: 40px;
  }
  .logoOfServiceBox {
    top: 41%;
  }
  .serivceBox article h2 {
    font-size: 25px;
  }
  .serivceBox article p {
    font-size: 16px;
  }
  .sectionFourBoxButton button::before {
    left: -288%;
  }
  /* section four Responsive CSS ends */
  /* ============================================================================ */

  /* ============================================================================ */
  /* section five Responsive CSS are starts */
  .sectionFive {
    padding: 0 0 120px 0;
    display: block;
    content: "";
    clear: both;
    display: table;
  }
  .sectionFiveLeftContent {
    width: 100%;
  }
  .sectionFiveLeftContentImage img {
    border-radius: unset;
  }
  .sectionFiveLeftContentImage:hover img {
    border-radius: unset;
  }

  .sectionFiveRightContent {
    width: 100%;
  }
  .sectionFiveRightContentContainer article {
    width: 100%;
  }
  .sectionFiveRightContentContainer {
    padding-top: 60px;
    width: 80%;
    margin: 0 auto;
  }
  .sectionFiveRightContentContainer h2 {
    font-size: 23px;
  }
  .sectionFiveRightContentContainer .sectionFiveP1 {
    width: 100%;
    font-size: 35px;
  }
  .sectionFiveRightContentContainer .sectionFiveP2 {
    font-size: 16px;
  }
  .progressContent1 {
    width: 98%;
  }
  .progressContent2 {
    width: 98%;
  }
  .progressContent3 {
    width: 98%;
  }
  .progressContaienr .progress1 {
    width: 98%;
  }
  .progressContaienr .progress2 {
    width: 98%;
  }
  .progressContaienr .progress3 {
    width: 98%;
  }

  .questionBox {
    width: 100%;
    left: unset;
    transform: unset;
  }
  .questionBox .container {
    width: 90%;
  }
  .questionBoxContaiainer {
    width: 100%;
    padding: 40px;
  }
  .questionBox {
    top: -10%;
  }
  .questionBoxContent1 h2 {
    font-size: 25px;
  }
  .questionBoxContent2 {
    width: 26%;
    margin-top: 18px;
  }
  .questionBoxContent2 i {
    font-size: 25px;
    padding: 20px;
  }
  .questionBoxContent3 {
    margin-top: 18px;
  }
  .questionBoxContent3 b {
    font-size: 18px;
  }
  .questionBoxContent3 span {
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0.5px;
  }
  .progressContent1 #mastery {
    font-size: 17px;
  }
  .progressContent2 #mastery {
    font-size: 17px;
  }
  .progressContent3 #mastery {
    font-size: 17px;
  }
  .sectionFiveRightContentContainer:hover .progressContent2 #mastery {
    margin-left: 8px;
  }

  /* section five Responsive CSS ends */
  /* ============================================================================ */

  /* ============================================================================ */
  /* section Six Responsive CSS starts */
  .sectionSix {
    padding: 80px 0 120px 0;
  }
  .sectionSix .container {
    width: 80%;
  }

  .sectionSixLeftContent {
    width: 100%;
  }

  .sectionSixRightContent {
    display: none;
  }
  /* section Six Responsive CSS ends */
  /* ============================================================================ */

  /* ============================================================================ */
  /* section Seven Responsive are CSS starts */
  .sectionSeven {
    padding: 0 0 550px 0;
  }
  .videoPlayButtonContainer {
    height: 541px;
  }
  .sectionSeven .leftShape {
    display: none;
  }
  .sectionSeven .rightShape {
    display: none;
  }
  /* section Seven Responsive CSS ends */
  /* ============================================================================ */

  /* ============================================================================ */
  /* section eight Responsive CSS are starts */
  .sectionEight .container {
    width: 80%;
  }
  .sectionEightLeftContent {
    display: none;
  }
  .sectionEightRightContent {
    width: 100%;
    height: 650px;
  }
  .sectionEight .eightRightContentContainer {
    padding: 50px 55px;
  }
  .eightRightContentContainer article h3 {
    font-size: 30px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 20px;
  }
  .eightRightContentContainer article span {
    font-size: 16px;
    display: block;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 35px;
  }
  .nameAndEmail {
    margin-bottom: 0;
  }
  .nameAndEmail input {
    width: 100%;
    margin-bottom: 20px;
  }
  .numberAndSubject {
    margin-bottom: 0;
  }
  .numberAndSubject input {
    width: 100%;
    margin-bottom: 20px;
  }
  .messageField textarea {
    height: 150px;
  }

  .messageFieldButton {
    width: 195px;
  }
  .messageFieldButton button {
    font-size: 15px;
    padding: 12px;
  }
  .messageFieldButton button::before {
    left: -424px;
    top: -461px;
  }

  /* section eight Responsive CSS ends */
  /* ============================================================================ */

  /* ============================================================================ */
  /* section Nine Responsive CSS are starts */
  .sectionNine .container {
    width: 85%;
  }
  .sectionNineContent {
    width: 65%;
    margin: 0 auto;
  }
  .sectionNineBox {
    display: block;
    width: 100%;
    margin-right: 0;
    margin-bottom: 35px;
  }
  .sectionNineBox article h2 {
    font-size: 20px;
    margin-bottom: 8px;
  }
  .sectionNineBox article h3 {
    font-size: 16px;
  }
  .sectionNineBox:last-child {
    margin-bottom: 0;
  }

  /* section Nine Responsive CSS ends */
  /* ============================================================================ */

  /* ============================================================================ */
  /* section Ten Responsive CSS are starts */
  .sectionTen {
    padding: 0 0 90px 0;
  }
  .sectionTenContent {
    width: 80%;
  }
  .sectionTenBox {
    width: 75%;
    margin: 0 auto;
    margin-bottom: 35px;
    float: none;
  }
  .tenBoxContent h3 {
    font-size: 20px;
  }
  .sectionTenBox:last-child {
    margin: 0 auto;
    margin-bottom: 0;
  }
  .seeMoreProject {
    width: 80%;
  }
  .seeMoreProject p {
    line-height: 27px;
  }
  /* section Ten Responsive CSS ends */
  /* ============================================================================ */

  /* ============================================================================ */
  /* section Eleven Responsive CSS starts */
  .sectionEleven {
    padding: 0 0 70px 0;
  }
  .sectionEleven .container {
    width: 80%;
    content: unset;
    clear: unset;
    display: block;
  }
  .sectionElevenContentContainer {
    display: block;
    overflow: hidden;
    margin-bottom: 25px;
  }
  .sectionElevenLeftContent {
    width: 100%;
  }
  .sectionElevenLeftContent b {
    font-size: 21px;
  }
  .sectionElevenLeftContent h2 {
    width: 90%;
    font-size: 29px;
    margin-bottom: 25px;
  }
  .sectionElevenLeftContent p {
    width: 90%;
    font-size: 16px;
    margin-bottom: 20px;
  }
  .sectionElevenLeftContent .ratingName h4 {
    font-size: 21px;
    margin-bottom: 5px;
  }
  .ratingName span {
    font-size: 15px;
  }
  .ratings {
    width: 90%;
  }
  .rating ul li i {
    font-size: 18px;
  }

  .threeLine .line {
    width: 20px;
    height: 3px;
  }

  .sectionElevenRightContent {
    display: none;
  }
  /* section Eleven Responsive CSS ends */
  /* ============================================================================ */

  /* ============================================================================ */
  /* section Twelve Responsive CSS are starts */
  .sectionTwelve .container {
    width: 80%;
  }
  .sectionTwelveBox {
    width: 80%;
    float: unset;
    margin: 0 auto;
    margin-bottom: 35px;
  }
  .sectionTwelveBox:last-child {
    margin: 0 auto;
  }
  .sectionTwelve .date {
    margin-bottom: 15px;
  }
  .sectionTwelveBox .date span {
    font-size: 16px;
  }
  .sectionTwelveBoxContent article h2 {
    margin-bottom: 3px;
    font-size: 21px;
  }
  .sectionTwelveBoxContent article p {
    font-size: 15.5px;
    line-height: 25px;
  }
  .sectionTwelveProfileLeft img {
    width: 40px;
    height: 40px;
  }
  .sectionTwelveBox .sectionTwelveProfileRight h5 {
    font-size: 19px;
  }
  .sectionTwelveProfileRight b {
    font-size: 15px;
  }
  /* section Twelve Responsive CSS ends */
  /* ============================================================================ */

  /* ============================================================================ */
  /* footer Responsive CSS are starts here */
  .footer .container {
    width: 70%;
  }
  .newsLetterContent {
    padding: 20px;
    float: unset;
    margin: 0 auto;
  }

  .newsLetterContent span {
    display: block;
    width: fit-content;
    font-size: 28px;
    margin: 0 auto;
    margin-bottom: 15px;
  }
  .newsLetterContent form {
    display: block;
  }
  .newsLetterContent form input {
    padding: 15px;
    width: 100%;
    margin-bottom: 10px;
    margin-right: 0;
  }
  .newsLetterContent form input::placeholder {
    font-size: 15px;
  }
  .newsLetterContent form button {
    padding: 12px;
    width: fit-content;
    display: block;
    margin: 0 auto;
  }
  .footerBox {
    margin-top: 70px;
  }
  .footerBox h5 {
    font-size: 22px;
    margin-bottom: 30px;
  }
  .footerBox:first-child {
    width: 80%;
    margin-top: 0;
    margin-right: 0;
    padding-bottom: 20px;
  }
  .footerLogo {
    margin-bottom: 12px;
  }
  .footerBox:first-child .footerLogo img {
    width: 135px;
  }
  .footerAboutCompany article {
    margin-bottom: 20px;
  }
  .footerAboutCompany article h3 {
    font-size: 24px;
  }
  .footerAboutCompany article p {
    font-size: 15px;
    line-height: 25px;
  }

  .footerSocial ul li a i {
    font-size: 17px;
    padding: 10px;
  }

  .footerBox:nth-child(2) {
    width: 100%;
    margin-right: 0;
  }
  .footerBox:nth-child(2) ul li {
    margin-bottom: 15px;
  }
  .footerBox:nth-child(3) {
    width: 100%;
    margin-right: 0;
  }
  .footerBox:nth-child(3) .posts .postsImg {
    width: 90px;
    height: 90px;
    margin-right: 15px;
  }
  .footerBox:nth-child(3) .posts .postsContent h6 {
    font-size: 16px;
    width: 200px;
    line-height: 22px;
  }
  .footerBox:nth-child(3) .posts .postsContent span {
    font-size: 15px;
  }
  .footerBox:last-child address ul li:last-child .rightContentOfContactUs {
    float: left;
    width: 50%;
  }
  .footerBox:last-child {
    width: 100%;
  }
  .copyRight::before {
    width: 100%;
  }
  .copyRight .copyRightLeft {
    margin-bottom: 15px;
    width: 100%;
  }
  .copyRightLeft span {
    margin: 0 auto;
    display: block;
    width: fit-content;
  }
  #copyRightText {
    display: none;
  }
  .copyRight .copyRightRight {
    width: 100%;
  }
  .copyRight .copyRightRight ul {
    width: fit-content;
    margin: 0 auto;
  }
  .backToTopButton {
    width: 45px;
    height: 45px;
    padding: 13px;
    right: 12px;
    bottom: 12px;
  }
  .backToTopButton i {
    font-size: 17px;
  }
  /* footer Responsive CSS ends */
  /* ============================================================================ */
}
/* responsive CSS under Max width 599 px */
