/* responsive CSS under Max width 599 px */
@media only screen and (max-width: 599px) {
  /* default CSS */
  .titleDiv {
    width: 90%;
  }
  .titleDiv article h2 {
    width: 100%;
    font-size: 32px;
  }
  .titleDiv article p {
    width: 100%;
    font-size: 16px;
  }
  /* default CSS */

  /* ============================================================================ */
  /* Header section Responsive are CSS Starts here */
  .loginRegisterMainContainer {
    padding: 10px 0 10px 0;
  }
  .loginRegisterMainContainer .container {
    width: 95%;
  }
  .loginRegisterMainContainer .headerBarText {
    display: none;
  }
  .loginRegisterDivison {
    width: 50%;
  }
  .loginRegisterDivison i {
    font-size: 14px;
  }
  .loginRegister a,
  span {
    font-size: 14px;
  }

  .navContainer .container {
    width: 95%;
  }

  .navLeftContent {
    width: 44%;
    height: 60px;
    top: 36px;
  }
  .styelOfnavLeftContent {
    left: 89%;
  }
  .navLeftContent .logo {
    width: 120px;
    top: -20px;
    left: 20%;
  }
  .navLeftContent .logo img {
    width: 100%;
  }
  .navRightContent {
    width: 40%;
    height: 50px;
    position: relative;
  }
  .navRightContent nav {
    display: none;
    height: 50px;
  }
  .navRightContent .searchDivision {
    display: none;
  }
  .navRightContent .getStartedButton {
    display: none;
  }

  /* mobile menu starts */
  .mobileMenu {
    display: block;
    width: fit-content;
    text-align: center;
    float: right;
    position: absolute;
    right: 0;
    top: 50%;
    cursor: pointer;
    padding: 3px 5px 3px 5px;
    transform: translate(0, -50%);
    border: 2px solid #948bfc;
    border-radius: 4px;
  }
  .mobileMenu i {
    font-size: 22px;
    color: #948bfc;
    transition: all 0.3s;
  }
  .mobileMenu:hover i {
    transform: scale(1.1);
  }
  .mobileMenu:hover .fa-bars {
    display: none;
  }

  .mobileMenu .fa-xmark {
    display: none;
  }
  .mobileMenu:hover .fa-xmark {
    display: block;
  }
  /* mobile menu ends */
  /* Header section Responsive ends here */
  /* ============================================================================ */

  /* ============================================================================ */
  /* section One Responsive CSS starts here */
  .sectionOne .container {
    width: 90%;
  }
  .sectionOneContentContainer {
    width: 100%;
  }
  .sectionOneContentContainer article b {
    font-size: 16px;
    width: 100%;
  }
  .sectionOneContentContainer article h1 {
    font-size: 45px;
    width: 100%;
  }
  .sectionOneContentContainer article p {
    font-size: 16px;
    width: 80%;
  }
  .sectionOneContentContainer article p:hover {
    letter-spacing: 3px;
    width: 100%;
  }
  .sectionOneContentContainer .readMoreButton {
    width: 150px;
  }
  .sectionOneContentContainer .readMoreButton button {
    font-size: 15px;
    padding: 15px;
  }
  .sectionOneContentContainer .readMoreButton button::before {
    left: -335%;
    top: -769%;
  }

  .leftShape {
    left: -90%;
    top: -35%;
    transform: rotate(14deg);
  }
  .rightShape {
    right: -692px;
    top: -30%;
    transform: rotate(371deg);
    border-right: 786px solid transparent;
    border-bottom: 1300px solid #948bfc7e;
  }
  .sliderPointer {
    display: none;
  }
  .sidbarContactInfo {
    right: -230px;
    bottom: 62%;
  }

  .sidbarContactInfo i {
    font-size: 14px;
  }
  .sidbarContactInfo a {
    font-size: 14px;
    font-weight: 300;
  }
  .sidbarContactInfo span {
    font-weight: 300;
  }

  .curveOverlay {
    width: fit-content;
    margin-bottom: -15px;
  }
  .curveOverlay img {
    width: 560%;
  }
  /* section One Responsive CSS ends */
  /* ============================================================================ */

  /* ============================================================================ */
  /* section Two Responsive CSS are starts */
  .sectionTwo {
    top: 100%;
  }
  .sectionTwo .container {
    width: 90%;
  }
  .sectionTwoBoxContainer {
    width: 90%;
    margin: 0 auto;
  }
  .sectionTwoBox {
    width: 100%;
    margin-right: 0;
    margin-bottom: 30px;
  }
  /* section Two Responsive CSS ends */
  /* ============================================================================ */

  /* ============================================================================ */
  /* section Three Responsive CSS are starts */
  .sectionThree {
    padding: 1030px 0 80px 0;
  }
  .sectionThree .container {
    width: 90%;
  }
  .sectionThree .section3LeftContent {
    width: 100%;
    float: unset;
  }

  .sectionThree .section3LeftContentContainer {
    height: 550px;
    transition: all 0.3s;
  }
  .sectionThree .section3LeftContentContainer:hover {
    transform: translateX(10px);
  }
  .section3LeftContentContainer .one1Image {
    height: fit-content;
  }
  .section3LeftContentContainer .one1Image img {
    height: 100%;
  }
  .sectionThree .section3RightContent {
    width: 100%;
    float: unset;
  }
  .section3RightContentContainer h2 {
    font-size: 18px;
  }
  .section3RightContentContainer .sectionThreeP1 {
    font-size: 30px;
  }
  .section3RightContentContainer .sectionThreeP2 {
    margin-bottom: 30px;
  }
  .section3RightContentContainer ul {
    margin-bottom: 45px;
  }
  .section3RightContentContainer ul li i {
    font-size: 22px;
    font-weight: 300px;
  }
  .section3RightContentContainer ul li strong {
    font-size: 16px;
    font-weight: 400;
  }
  .knowledgeBox {
    width: 100%;
  }
  .knowledgeBox b {
    width: 90%;
    font-size: 17px;
    font-weight: 500;
  }
  .getButtonAndCallButton {
    width: 100%;
  }
  .getStartedButton2 button::before {
    left: -259%;
    top: -743%;
  }
  .callButtonDivision:hover i {
    font-size: unset;
  }
  .callButtonDivision:hover span {
    font-size: unset;
  }
  .callButtonDivision:hover a {
    font-size: unset;
  }
  .callButtonDetails a {
    width: 100%;
  }

  /* section Three Responsive CSS ends */
  /* ============================================================================ */

  /* ============================================================================ */
  /* section four Responsive CSS are starts */
  .sectionFour {
    padding: 70px 0 250px 0;
  }
  .sectionFour .container {
    width: 90%;
  }
  .sectionFour .serivceBoxContainer .serivceBox {
    width: 100%;
    display: block;
    margin-right: 0;
    margin-bottom: 40px;
  }
  .logoOfServiceBox {
    top: 42%;
  }
  .serivceBox article h2 {
    font-size: 25px;
  }
  .serivceBox article p {
    font-size: 16px;
  }
  /* section four Responsive CSS ends */
  /* ============================================================================ */
}
/* responsive CSS under Max width 599 px */
