/* ===================================================================================== */
/* Using google robot fonts */
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
/* Using google robot fonts */
/* ===================================================================================== */

/* ===================================================================================== */
/* Default CSS are starts here */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}
a {
  text-decoration: none;
}
.container {
  width: 1200px;
  margin: 0 auto;
  overflow: hidden;
}
/* Default CSS ends */
/* ===================================================================================== */

/* ===================================================================================== */
/* Header CSS starts here */
/* login register division starts */
.loginRegisterMainContainer {
  overflow: hidden;
  padding: 20px;
  background-color: #948bfc;
}
.headerBarText {
  float: left;
  width: 70%;
  text-align: center;
}
.headerBarText article span {
  font-size: 15px;
  font-weight: 400;
  letter-spacing: 1px;
  color: #ffffff;
}
.loginRegisterDivison {
  float: right;
  width: 30%;
  text-align: end;
}

.loginRegisterDivison i {
  font-size: 15px;
  letter-spacing: 1px;
  color: #ffffff;
  margin-right: 5px;
}

.loginRegister {
  display: inline;
}
.loginRegister a,
span {
  font-size: 15px;
  font-weight: 400;
  letter-spacing: 1px;
  color: #ffffff;
  cursor: pointer;
  transition: all 0.3s;
}
.loginRegister a:first-child:hover {
  color: rgb(216, 216, 216);
}
.loginRegister a:last-child:hover {
  color: rgb(216, 216, 216);
}
/* login register division ends*/

/* navContainer starts */
.navContainer {
  overflow: hidden;
}
.navLeftContent {
  width: 20%;
  float: left;
  background-color: #948bfc;
  position: absolute;
  left: 0;
  top: 59;
  height: 71.72px;
}
.navLeftContent .logo {
  width: 130px;
  float: right;
  padding: 0 10px 0 10px;
  position: absolute;
  z-index: 3;
  top: -25px;
  left: 165px;
}
.navLeftContent .logo img {
  width: 100%;
  cursor: grab;
}
.styelOfnavLeftContent {
  border-right: 85px solid #948bfc;
  position: absolute;
  left: 91%;
  top: -15%;
  border-bottom: 65px solid transparent;
  transform: rotate(-108deg);
  z-index: -1;
}
.styleOfNavshadow {
  content: "";
  background-color: #e5e5e5;
  width: 163px;
  height: 14px;
  position: absolute;
  left: -45px;
  top: 30px;
  transform: rotate(37deg);
  z-index: -1;
}

.navRightContent {
  width: 80%;
  background-color: #ffffff;
  float: right;
  height: 71.72px;
}
.navRightContent nav {
  display: inline;
  width: 65%;
  float: left;
  height: 100%;
}
nav ul {
  list-style: none;
  width: fit-content;
  height: 100%;
  padding: 0;
}
nav ul li {
  display: inline-block;
  margin-right: 52px;
  height: 100%;
  text-align: center;
  vertical-align: middle;
  line-height: 73px;
  cursor: pointer;
}

nav ul li:last-child {
  margin-right: 0;
}
nav ul li:hover a {
  color: #948bfc;
}

nav ul li a {
  font-size: 15px;
  letter-spacing: 1px;
  font-weight: 400;
  color: #000000;
  text-transform: uppercase;
  display: inline-block;
  width: fit-content;
  height: 100%;
  position: relative;
  transition: all 0.3s;
}
nav ul li a::before {
  content: "";
  position: absolute;
  border-right: 65px solid #948bfc;
  border-bottom: 60px solid transparent;
  top: -90%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(497deg);
  transition: all 0.3s;
}

nav ul li a::after {
  content: "";
  position: absolute;
  border-right: 65px solid #948bfc;
  border-bottom: 60px solid transparent;
  bottom: -190%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(314deg);
  transition: all 0.3s;
}
nav ul li:hover a::before {
  top: -45%;
}
nav ul li:hover a::after {
  bottom: -125%;
}

nav ul li ul {
  position: absolute;
  width: fit-content;
  padding: 15px;
  height: fit-content;
  background-color: #948bfc;
  border-top: 1px solid #000000;
  top: 20%;
  transform-origin: bottom;
  transform: translateY(10px) scale(0);
  transition: all 0.1s;
  z-index: 50;
}
ul.moreHome {
  left: 21.5%;
}
ul.morePages {
  left: 51%;
}
nav ul li:hover ul {
  transform: translateY(0) scale(1);
}
nav ul li ul li {
  display: block;
  margin-right: 0;
  text-align: start;
  padding: 10px;
  line-height: initial;
  margin-bottom: 15px;
  border-radius: 5px;
  transition: all 0.3s;
}
nav ul li ul li:hover {
  background-color: #ffffff;
}
nav ul li ul li:last-child {
  margin-bottom: 0;
}
nav ul li ul li a {
  font-size: 14px;
  color: #ffffff !important;
  transition: all 0.3s;
}
nav ul li ul li:hover a {
  color: #948bfc !important;
}
nav ul li ul li a::before {
  display: none;
}
nav ul li ul li a::after {
  display: none;
}

.navRightContent .searchDivision {
  display: inline;
  width: 10%;
  float: left;
  margin-top: 10px;
}
.searchDivision .search {
  width: 50px;
  height: 50px;
  position: relative;
  float: right;
  border: 1px solid #948bfc;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.2s;
}
.searchDivision:hover .search {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  border-left: none;
}

.navRightContent .searchDivision i {
  position: absolute;
  font-size: 18px;
  color: #948bfc;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  transition: all 0.2s;
}
.searchDivision .search:hover i {
  font-size: 23px;
}

.searchField {
  position: absolute;
  width: fit-content;
  right: 373px;
}

.searchField input {
  width: 0;
  font-size: 14px;
  color: #948bfc;
  padding: 0;
  outline: none;
  border: 0px solid #948bfc;
  transition: all 0.1s;
}
.searchDivision:hover input {
  width: 675px;
  padding: 16px;
  border: 1px solid #948bfc;
  border-right: none;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.navRightContent .getStartedButton {
  width: 25%;
  display: inline;
  float: right;
  margin-top: 10px;
}
.getStartedButton button {
  outline: none;
  border: none;
  padding: 15px;
  font-size: 15px;
  color: #ffffff;
  background-color: #948bfc;
  font-weight: 400;
  letter-spacing: 1px;
  border-radius: 5px;
  width: 80%;
  text-transform: uppercase;
  float: right;
  cursor: pointer;
  transition: all 0.3s;
}
.getStartedButton:hover button {
  color: rgb(216, 216, 216);
}
/* navContainer ends*/

/* Header CSS ends */
/* ===================================================================================== */

/* ===================================================================================== */
/* section one CSS are starts here */
.sectionOne {
  padding: 120px 0;
  background-image: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.55),
      rgba(0, 0, 0, 0.55)
    ),
    url(../images/sectionOne/sectionOneBackImg.png);
  background-position: center;
  background-clip: border-box;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
  position: relative;
}

.sectionOneContentContainer {
  width: 900px;
  margin: 0 auto;
}
.sectionOneContentContainer article b {
  display: block;
  font-size: 25px;
  font-weight: 900;
  color: #ffffff;
  letter-spacing: 1px;
  margin-bottom: 30px;
}
.sectionOneContentContainer article h1 {
  width: 800px;
  font-size: 125px;
  font-weight: 900;
  color: #ffffff;
  letter-spacing: 1px;
  margin-bottom: 25px;
}
.sectionOneContentContainer article p {
  width: 600px;
  font-size: 18px;
  font-weight: 300;
  color: #ffffff;
  letter-spacing: 1px;
  margin-bottom: 35px;
}
.readMoreButton {
  width: 185px;
}
.readMoreButton button {
  width: 100%;
  font-size: 18px;
  font-weight: 500;
  outline: none;
  border: none;
  background-color: #ffffff;
  border-radius: 1px;
  letter-spacing: 2px;
  padding: 18px;
  color: #948bfc;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  z-index: 1;
  transition: all 1s;
}
.readMoreButton button:hover {
  color: #ffffff;
}
.readMoreButton button::before {
  content: "";
  background-color: #948bfc;
  position: absolute;
  width: 570px;
  height: 500px;
  transform: rotate(317deg);
  left: -279%;
  top: -593%;
  transition: all 0.5s;
  z-index: -1;
}
.readMoreButton button:hover::before {
  transform: translateX(300px);
}
/* left shape */
.leftShape {
  width: 100%;
  background-color: #948bfc7e;
  height: 100%;
  position: absolute;
  top: -40%;
  left: -66%;
  transform: rotate(111deg);
}
.rightShape {
  width: 115%;
  background-color: #948bfc7e;
  height: 200%;
  position: absolute;
  top: -16%;
  right: -90%;
  transform: rotate(118deg);
}
/* left shape */

/* left side slider pointer are starts here*/

.sliderPointer {
  position: absolute;
  left: -0.8%;
  transform: rotate(90deg);
  bottom: 32%;
}
.pointOne {
  width: 28px;
  height: 28px;
  background: #ffffff;
  border-radius: 100%;
  margin: 0 auto;
  margin-right: 25px;
  display: inline-block;
  position: relative;
  cursor: pointer;
}
.pointOne:first-child:hover::before {
  content: "";
  background-color: #948bfc;
  width: 60%;
  height: 60%;
  border-radius: 100%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.pointOne:nth-child(2)::before {
  content: "";
  background-color: #948bfc;
  width: 60%;
  height: 60%;
  border-radius: 100%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.pointOne:last-child {
  margin-right: 0;
}
.pointOne:last-child:hover::before {
  content: "";
  background-color: #948bfc;
  width: 60%;
  height: 60%;
  border-radius: 100%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
/* left side slider pointer ends */

/* sidebar contact info are starts  */
.sidbarContactInfo {
  transform: rotate(-90deg);
  padding: 10px;
  position: absolute;
  z-index: 10;
  right: -15.5%;
  bottom: 40%;
}

.sidbarContactInfo .mobile {
  display: inline;
  margin-right: 10px;
}
.sidbarContactInfo .mobile i {
  margin-right: 5px;
}
.sidbarContactInfo .email i {
  margin-right: 5px;
}
.sidbarContactInfo .email {
  display: inline;
  margin-right: 10px;
}
.sidbarContactInfo .social {
  display: inline;
}
.sidbarContactInfo .social span {
  margin-right: 5px;
}
.sidbarContactInfo .social a {
  margin-right: 10px;
}

.sidbarContactInfo i {
  font-size: 16px;
  color: #ffffff;
}
.sidbarContactInfo a {
  font-size: 14px;
  font-weight: 300;
  color: #ffffff;
}
.sidbarContactInfo span {
  font-size: 14px;
  font-weight: 300;
  color: #ffffff;
}
/* sidebar contact info ends */

/* section one CSS ends here */
/* ===================================================================================== */
